.card-custom {
    img {
        height: 470px;
        width: 100%;
        object-fit: cover;
    }

    h5,
    p {
        height: 48px;
    }

    .cta-box {
        a {
            display: inline-block;
            height: 40px;
            width: 40px;
        }
    }
}
